/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}




.text{
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}
.text .main {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 50px 10px 50px;
   

}

.text .greeting {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 100px 50px 10px 50px;
    
   
}